@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);


:root {
    --black: #000000;
    --dark-gray: #2E2E2E;
    --gray: #4B4B4B;
    --light-gray: #7D7D7D;
    --lighter-gray: #BFBFBF;
    --angle: 13.846;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow: hidden;
}

#header {
    background-color: #7D7D7D;
    background-color: #BFBFBF;
    border-bottom: 1px solid rgb(116, 107, 107);
    height: 4vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

#header > * {
    margin: 0.5vw;
}

a {
    font-family: 'Courier New', Courier, monospace;
}

button {
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
    border: none;
}

#main {
    display: flex;
}

#div-left {
    background-color: #4B4B4B;
    width: 50vw;
    height: 100vh;
    border-right: 1px solid rgb(116, 107, 107);
}

#setting-div {
    background-color: #4B4B4B;
    border-bottom: 1px solid rgb(116, 107, 107);
}

#setting-info {
    position: relative;
    height: 2vh;
}

#copy-setting {
    margin: 1vh;
    position: absolute;
    right: 0%;
}

#setting {
    display: flex;
    justify-content: center;
    align-items: center;
}

#setting-rotor-label,
#setting-ring-label,
#setting-position-label,
#setting-plug-label {
    margin: 2vh;
    margin-bottom: 1vh;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.detail {
    padding: 1vh;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background-color: #2E2E2E;
    margin: 0.5vh 2vh;
    margin-bottom: 2vh;
    text-align: center;
}

#setting-plug-detail {
    min-width: 35vh;
}


/* ROTORBOARD */

#rotorboard {
    background-color: #4B4B4B;
    border-bottom: 1px solid rgb(116, 107, 107);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#rotorboard > * {
    margin-bottom: 4vh;
    margin-top: 3vh;
}

.rotor-label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0vh 0.5vh 0.5vh 0.5vh;
}

.rotor-label > * {
    width: 25%;
    /* border: 1px solid blue; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5vh;
    font-weight: bold;
    color: rgb(236, 236, 236);
    user-select: none;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.ready > * {
    color: #fffb14;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #fffb14,
      0 0 82px #fffb14,
      0 0 92px #fffb14,
      0 0 102px #fffb14,
      0 0 151px #fffb14;
}

#switch-ring.ready, #switch-rotor.ready {
    color: #fffb14;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #fffb14,
      0 0 82px #fffb14,
      0 0 92px #fffb14,
      0 0 102px #fffb14,
      0 0 151px #fffb14;
}

#rotor-tray {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    background: linear-gradient(to bottom, #808080, #afafaf 10%, #999999 30%, #b2b2b2 50%, #d7d7d7 66% 75%, #8c8c8c 90% 95%);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
    height: 30vh;
    /* border: 1px solid red; */
}

#rotor-in-use {
    margin-top: 0vh;
    background: linear-gradient(to bottom, #808080, #afafaf 10%, #999999 30%, #b2b2b2 50%, #d7d7d7 66% 75%, #8c8c8c 90% 95%);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
    height: 30vh;
    /* border: 1px solid blue; */
}

#spin-up-row, #spin-down-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid blue; */
    margin: 0 0.5vh;
}

#spin-up-row {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#spin-down-row {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#rotor-in-use .caret {
    background: none;
    cursor: pointer;
    font-size: 1.5em;
    /* border: 1px solid red; */
    height: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#lid-div {
    z-index: 10;
    position: relative;
}

.lid-open {
    animation: openLid 0.3s;
    display: none;
}

@keyframes openLid {
    from {
        display: flex;
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
        opacity: 0;
        display: none;
    }
}

.lid-closed {
    display: flex;
    animation: closeLid 0.3s;
}

@keyframes closeLid {
    from {
        display: none;
        transform: scale(1.5);
        opacity: 0;
    }
    to {
        display: flex;
        transform: scale(1);
        opacity: 1;
    }
}


#lid-frames {
    height: 23.7vh;
    width: 25vh;
    z-index: 7;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#lid-frames > * {
    z-index: 6;
    width: 7vh;
    height: 3.8vh;
    border: 4px white solid;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2),
                2px 3px 4px rgba(0, 0, 0, 0.5) inset;
    background: none;
}

#lid {
    z-index: 5;
    position: absolute;
    height: 24vh;
    width: 25vh;
    background: linear-gradient(to bottom, #606060, #c0c0c0 10%, #8a8a8a 25%, #d1d1d1 55%, #777 80%, #3f3f3f);
    clip-path: polygon(
        0% 0%, 0% 100%,
        4% 100%, 4% 43%, 32% 43%, 32% 56%, 4% 56%, 4% 100%,
        36% 100%, 36% 43%, 64% 43%, 64% 56%, 36% 56%, 36% 100%,
        68% 100%, 68% 43%, 96% 43%, 96% 56%, 68% 56%, 68% 100%,
        100% 100%, 100% 0%
        );
}

#rotor-tray > * + *, #rotor-in-use-holder > * + * {
    margin-left: 0vh;
}

#rotor-in-use-holder {
    display: flex;
    /* border: 1px solid green; */
}

.rotor-holder {
    width: 7vh;
    height: 21.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;
    background-color: #2E2E2E;
}

.rotor {
    width: 7vh;
    height: 21.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #777, #4e4e4e 10%, #747373 30%, #666 50%, #888888 66% 75%, #555 90% 95%);
    overflow: hidden;
    box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.axis {
    width: 5.5vh;
    transform: translateY(-1.33333vh);
    transform-style: preserve-3d;
    z-index: 3;
}

.plate {
    background-color: rgb(233, 233, 233);
    position: absolute;
    height: 2.6vh;
    width: 5.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8vh;
    font-weight: bold;
    box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.2);
    user-select: none;
    z-index: 4;
}

.plate {
    background-color: rgb(233, 233, 233);
    position: absolute;
    height: 2.6vh;
    width: 5.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8vh;
    font-weight: bold;
    box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.2);
    user-select: none;
    z-index: 4;
}

#switch-box {
    width: 5vh;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#switch {
    width: 2.5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.at-rotor #switch-head {
    transform: translateY(2.7vh);
    transition: transform 0.3s;
}

.at-ring #switch-head {
    transform: translateY(0vh);
    transition: transform 0.3s;
}

#switch-head {
    z-index: 2;
    height: 2vh;
    width: 3vh;
    background: linear-gradient(to bottom, #5f5e5e, #bdbdbd, #9b9999, #e4e4e4, #5f5f5f);
    user-select: none;
}
#switch-body {
    height: 5vh;
    width: 1.7vh;
    border: 2px solid rgb(163, 163, 163);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    background-color: #2E2E2E;
    display: flex;
}

#switch-ring, #switch-rotor {
    /* border: 1px solid red; */
    margin: 0.7vh;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}


/* PLUGBOARD */

#plugboard {
    background-color: #4B4B4B;
    /* border-bottom: 1px solid rgb(116, 107, 107); */
}

#plugboard > div > * {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

#plugrow-1 {
    padding-top: 2vh;
}

#plugrow-3 {
    margin-bottom: 2vh;
}

.plugkey {
    margin-left: 3vh;
    background-color: none;
    height: 3.5vh;
    width: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    font-weight: bold;
    color: rgb(232, 233, 198);
    user-select: none;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}

#plugkey-Q, #plughole-Q, #plugkey-A, #plughole-A, #plugkey-P, #plughole-P {
    margin-left: 0vh;
}

#plughole-row-1, #plughole-row-2, #plughole-row-3 {
    padding-bottom: 1vh;
}

.plughole {
    margin-left: 4vh;
    background-color: #000000;
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    font-weight: bold;
    color: rgb(238, 237, 237);
    border: solid 6px rgb(250, 255, 206);
    user-select: none;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#div-right {
    background-color: #4B4B4B   ;
    width: 50vw;
    height: 100vh;
}

/* MESSAGE */
#message {
    background-color: #4B4B4B;
    border-bottom: 1px solid rgb(116, 107, 107);
    height: 39vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#input, #output {
    background-color: #2E2E2E;
    width: 48%;
    height: 96%;
    padding: 2vh;
    resize: none;
    color: gray;
}

/* LAMPBOARD */

#lampboard {
    background-color: #4B4B4B;
    border-bottom: 1px solid rgb(116, 107, 107);
    /* height: 25vh; */
}

#lampboard > * {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

#lamprow-1 {
    margin-top: 2vh;
}

#lamprow-2 {
    margin-top: 2vh;
}

#lamprow-3 {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.lamp {
    margin-left: 3vh;
    background-color: #2e2e2e;
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    font-weight: bold;
    color: rgb(238, 237, 237);
    /* border: 1px solid black; */
    box-shadow: inset 0 -1px 2px rgba(255, 255, 255, 0.5); /* Highlight */
    user-select: none;
}

#lamp-Q {
    margin-left: 2vh;
}

#lamp-A {
    margin-left: 0vh;
}

#lamp-P {
    margin-left: -2vh;
}

/* .lamp {
    color: #fffb14;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #fffb14,
      0 0 82px #fffb14,
      0 0 92px #fffb14,
      0 0 102px #fffb14,
      0 0 151px #fffb14;
} */

/* KEYBOARD */

#keyboard {
    background-color: #4B4B4B;
    /* border-bottom: 1px solid rgb(116, 107, 107); */
    /* height: 25vh; */
}

#keyboard > * {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1vh;
    /* border: 1px solid red; */
}

#keyrow-1 {
    margin-top: 2vh;
}

#keyrow-2 {
    margin-top: 1vh;
}

#keyrow-3 {
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.key {
    margin-left: 3vh;
    background-color: #7D7D7D;
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    font-weight: bold;
    color: rgb(238, 237, 237);
    border: solid 2px white;
    /* border-bottom: solid 3px white; */
    user-select: none;
    box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.2), /*outer shadow, bot-right*/
                1px 2px 4px rgba(0, 0, 0, 0.5) inset; /*inner shadow, top-left*/
}

#key-Q {
    margin-left: 2vh;
}

#key-A {
    margin-left: 0vh;
}

#key-P {
    margin-left: -2vh;
}

.key:hover {
    cursor: pointer;
    color: #ffffff;
}

.key:active {
    transition: all 0.3s;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2),
                1px 2px 4px rgba(0, 0, 0, 0.5) inset;
    transform: scale(0.9);
}

#rotor-in-use .ui-droppable-active {
    background-color: #b4b4b4;
    box-shadow: 0px 0px 50px #fffc51 inset;
}